@font-face {
  font-weight: 400;
  src: url("../../static/fonts/DM-Sans-Regular.woff2");
  font-family: "DM Sans";
  font-display: swap;
}
@font-face {
  font-weight: 500;
  src: url("../../static/fonts/DM-Sans-Medium.woff2");
  font-family: "DM Sans";
  font-display: swap;
}
@font-face {
  font-weight: 400;
  src: url("../../static/fonts/DM-Mono-Regular.woff2");
  font-family: "DM Mono";
  font-display: swap;
}
*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.25;
}

h1, h2, h3, h4 {
  text-wrap: balance;
  font-weight: 500;
}

ul[class], ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

input, button, textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 128px;
}

:target {
  scroll-margin-block: 5ex;
}

img {
  max-width: 100%;
}

img[width] {
  width: auto;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  max-width: none;
  height: auto;
}

:root {
  --black: #000;
  --white: #fff;
  --beige: #f8f5ed;
  --green: #6ece9d;
  --yellow: #ffda6e;
  --orange: #f7a66b;
  --red: #e87b7b;
  --color-primary: var(--white);
  --color-secondary: #adadad;
  --color-background-primary: #0a0a0a;
  --color-background-secondary: #141414;
  --color-background-elevation: rgba(255,255,255,.04);
  --padding-extra-large: 256px;
  --padding-large: 128px;
  --padding-medium: 64px;
  --padding-small: 32px;
  --border-radius-large: 24px;
  --border-radius-medium: 12px;
  --border-radius-small: 6px;
}

html {
  font-feature-settings: "ss03" 1, "ss04" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-primary);
  color: var(--color-primary);
  font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  width: 100%;
  margin-right: calc(-100vw + 100%);
  overflow-x: hidden;
}
body > * {
  grid-column: 2;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-small);
}

h1, .h1 {
  font-size: 96px;
  letter-spacing: -2px;
}

h2, .h2 {
  font-size: 64px;
}

h3, .h3 {
  font-size: 28px;
}

p, .p {
  color: var(--color-secondary);
  font-size: 18px;
}

strong {
  font-weight: 500;
}

/* Reveal */
[data-lg-reveal],
.lg-reveal {
  opacity: 0;
  will-change: opacity, transform;
}
[data-lg-reveal].is-in,
.lg-reveal.is-in {
  opacity: 1;
}

[data-lg-reveal-stagger] {
  opacity: 1;
}
[data-lg-reveal-stagger] > * {
  opacity: 0;
}

/* Fade */
.lg-reveal--fade-to-bottom,
.lg-reveal--fade-to-left,
.lg-reveal--fade-to-top,
.lg-reveal--fade-to-right,
.lg-reveal--fade-x,
.lg-reveal--fade-y,
.lg-reveal--fade-rotate,
.lg-reveal--fade-rotate-to-bottom,
.lg-reveal--fade-rotate-to-left,
.lg-reveal--fade-rotate-to-top,
.lg-reveal--fade-rotate-to-right,
.lg-reveal--fade-rotate-x,
.lg-reveal--fade-rotate-y,
.lg-reveal--fade-scale,
.lg-reveal--fade-scale-to-top,
.lg-reveal--fade-scale-to-right,
.lg-reveal--fade-scale-to-bottom,
.lg-reveal--fade-scale-to-left,
.lg-reveal--fade-scale-x,
.lg-reveal--fade-scale-y {
  transition: opacity 0.4s linear 0.2s, transform 0.6s ease(in-cubic) 0s;
}
.lg-reveal--fade-to-bottom.is-in,
.lg-reveal--fade-to-left.is-in,
.lg-reveal--fade-to-top.is-in,
.lg-reveal--fade-to-right.is-in,
.lg-reveal--fade-x.is-in,
.lg-reveal--fade-y.is-in,
.lg-reveal--fade-rotate.is-in,
.lg-reveal--fade-rotate-to-bottom.is-in,
.lg-reveal--fade-rotate-to-left.is-in,
.lg-reveal--fade-rotate-to-top.is-in,
.lg-reveal--fade-rotate-to-right.is-in,
.lg-reveal--fade-rotate-x.is-in,
.lg-reveal--fade-rotate-y.is-in,
.lg-reveal--fade-scale.is-in,
.lg-reveal--fade-scale-to-top.is-in,
.lg-reveal--fade-scale-to-right.is-in,
.lg-reveal--fade-scale-to-bottom.is-in,
.lg-reveal--fade-scale-to-left.is-in,
.lg-reveal--fade-scale-x.is-in,
.lg-reveal--fade-scale-y.is-in {
  transform: translate3d(0, 0, 0) rotate(0) scale(1);
  transition: opacity 0.4s linear 0s, transform 0.6s ease(out-cubic) 0s;
}

.lg-reveal--fade {
  transition: opacity 0.3s linear;
}

.lg-reveal--fade-to-bottom {
  transform: translate3d(0, -10%, 0);
}

.lg-reveal--fade-to-left {
  transform: translate3d(10%, 0, 0);
}

.lg-reveal--fade-to-top {
  transform: translate3d(0, 10%, 0);
}

.lg-reveal--fade-to-right {
  transform: translate3d(-10%, 0, 0);
}

.lg-reveal--fade-x {
  transform: translate3d(-10%, 0, 0);
}
.lg-reveal--fade-x.is-out-top {
  transform: translate3d(10%, 0, 0);
}

.lg-reveal--fade-y {
  transform: translate3d(0, 10%, 0);
}
.lg-reveal--fade-y.is-out-top {
  transform: translate3d(0, -10%, 0);
}

.lg-reveal--fade-rotate {
  transform: rotate(-20deg);
}

.lg-reveal--fade-rotate-to-bottom {
  transform: translate3d(0, -30%, 0) rotate(-20deg);
}

.lg-reveal--fade-rotate-to-left {
  transform: translate3d(30%, 0, 0) rotate(20deg);
}

.lg-reveal--fade-rotate-to-top {
  transform: translate3d(0, 30%, 0) rotate(20deg);
}

.lg-reveal--fade-rotate-to-right {
  transform: translate3d(-30%, 0, 0) rotate(-20deg);
}

.lg-reveal--fade-rotate-x {
  transform: translate3d(-30%, 0, 0) rotate(-20deg);
}
.lg-reveal--fade-rotate-x.is-out-top {
  transform: translate3d(30%, 0, 0) rotate(20deg);
}

.lg-reveal--fade-rotate-y {
  transform: translate3d(0, 30%, 0) rotate(20deg);
}
.lg-reveal--fade-rotate-y.is-out-top {
  transform: translate3d(0, -30%, 0) rotate(-20deg);
}

.lg-reveal--fade-scale,
.lg-reveal--fade-scale-to-bottom,
.lg-reveal--fade-scale-to-left,
.lg-reveal--fade-scale-to-top,
.lg-reveal--fade-scale-to-right,
.lg-reveal--fade-scale-x,
.lg-reveal--fade-scale-y {
  transform: scale(0.8);
}

.lg-reveal--fade-scale-to-bottom {
  transform: translate3d(0, -30%, 0) scale(0.8);
}

.lg-reveal--fade-scale-to-left {
  transform: translate3d(30%, 0, 0) scale(0.8);
}

.lg-reveal--fade-scale-to-top {
  transform: translate3d(0, 30%, 0) scale(0.8);
}

.lg-reveal--fade-scale-to-right {
  transform: translate3d(-30%, 0, 0) scale(0.8);
}

.lg-reveal--fade-scale-x {
  transform: translate3d(-30%, 0, 0) scale(0.8);
}
.lg-reveal--fade-scale-x.is-out-top {
  transform: translate3d(30%, 0, 0) scale(0.8);
}

.lg-reveal--fade-scale-y {
  transform: translate3d(0, 30%, 0) scale(0.8);
}
.lg-reveal--fade-scale-y.is-out-top {
  transform: translate3d(0, -30%, 0) scale(0.8);
}

/* Scale */
.lg-reveal--scale,
.lg-reveal--scale-to-bottom,
.lg-reveal--scale-to-left,
.lg-reveal--scale-to-top,
.lg-reveal--scale-to-right,
.lg-reveal--scale-x,
.lg-reveal--scale-y {
  transform: scale(0);
  opacity: 1;
  transition: transform 0.6s ease(in-cubic) 0s;
}
.lg-reveal--scale.is-in,
.lg-reveal--scale-to-bottom.is-in,
.lg-reveal--scale-to-left.is-in,
.lg-reveal--scale-to-top.is-in,
.lg-reveal--scale-to-right.is-in,
.lg-reveal--scale-x.is-in,
.lg-reveal--scale-y.is-in {
  transform: scale(1);
  transition: transform 0.6s ease(out-cubic) 0s;
}

.lg-reveal--scale-to-bottom {
  transform-origin: 50% 0;
}

.lg-reveal--scale-to-left {
  transform-origin: 100% 50%;
}

.lg-reveal--scale-to-top {
  transform-origin: 50% 100%;
}

.lg-reveal--scale-to-right {
  transform-origin: 0 50%;
}

.lg-reveal--scale-x {
  transform-origin: 0 50%;
}
.lg-reveal--scale-x.is-out-top {
  transform-origin: 100% 50%;
}

.lg-reveal--scale-y {
  transform-origin: 50% 100%;
}
.lg-reveal--scale-y.is-out-top {
  transform-origin: 50% 0;
}

/* Slide */
.lg-reveal--slide,
.lg-reveal--slide-to-bottom,
.lg-reveal--slide-to-top,
.lg-reveal--slide-to-left,
.lg-reveal--slide-to-right,
.lg-reveal--slide-x,
.lg-reveal--slide-y {
  opacity: 1;
  transition: transform 0.6s ease(in-out-cubic) 0s;
}
.lg-reveal--slide.is-in,
.lg-reveal--slide-to-bottom.is-in,
.lg-reveal--slide-to-top.is-in,
.lg-reveal--slide-to-left.is-in,
.lg-reveal--slide-to-right.is-in,
.lg-reveal--slide-x.is-in,
.lg-reveal--slide-y.is-in {
  transform: translate3d(0, 0, 0);
}

.lg-reveal--slide-to-bottom {
  transform: translate3d(0, -15%, 0);
}

.lg-reveal--slide-to-left {
  transform: translate3d(15%, 0, 0);
}

.lg-reveal--slide-to-top {
  transform: translate3d(0, 15%, 0);
}

.lg-reveal--slide,
.lg-reveal--slide-to-right {
  transform: translate3d(-15%, 0, 0);
}

.lg-reveal--slide-x {
  transform: translate3d(-15%, 0, 0);
}
.lg-reveal--slide-x.is-out-top {
  transform: translate3d(15%, 0, 0);
}

.lg-reveal--slide-y {
  transform: translate3d(0, 15%, 0);
}
.lg-reveal--slide-y.is-out-top {
  transform: translate3d(0, -15%, 0);
}

/* Layer */
.lg-reveal--layer,
.lg-reveal--layer-to-top,
.lg-reveal--layer-to-right,
.lg-reveal--layer-to-bottom,
.lg-reveal--layer-to-left {
  position: relative;
  opacity: 1;
  transition: transform 0.8s ease(out-cubic) 0s, clip-path 0.4s ease(in-cubic) 0s;
}
.lg-reveal--layer:after,
.lg-reveal--layer-to-top:after,
.lg-reveal--layer-to-right:after,
.lg-reveal--layer-to-bottom:after,
.lg-reveal--layer-to-left:after {
  display: block;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  content: "";
  transition: transform 0.4s ease(out-cubic) 0.4s;
}
.lg-reveal--layer.is-in,
.lg-reveal--layer-to-top.is-in,
.lg-reveal--layer-to-right.is-in,
.lg-reveal--layer-to-bottom.is-in,
.lg-reveal--layer-to-left.is-in {
  transform: translate3d(0, 0, 0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.lg-reveal--layer-to-top.is-in:after,
.lg-reveal--layer-to-bottom.is-in:after {
  transform: scaleY(0);
}

.lg-reveal--layer-to-top {
  transform: translate3d(0, 10%, 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.lg-reveal--layer-to-top:after {
  transform-origin: 50% 0;
}

.lg-reveal--layer-to-bottom {
  transform: translate3d(0, -10%, 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.lg-reveal--layer-to-bottom:after {
  transform-origin: 50% 100%;
}

.lg-reveal--layer-to-right.is-in:after,
.lg-reveal--layer-to-left.is-in:after {
  transform: scaleX(0);
}

.lg-reveal--layer-to-right {
  transform: translate3d(-10%, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.lg-reveal--layer-to-right:after {
  transform-origin: 100% 50%;
}

.lg-reveal--layer-to-left {
  transform: translate3d(10%, 0, 0);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.lg-reveal--layer-to-left:after {
  transform-origin: 0 50%;
}

button, .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 36px;
  padding: 0 12px;
  background-color: var(--green);
  color: var(--black);
  font-weight: 500;
  transition: opacity 0.1s ease;
}
@media only screen and (min-width: 513px) {
  button:hover, .button:hover {
    opacity: 0.8;
  }
}
button.large, .button.large {
  height: 48px;
  padding: 0 24px;
  border-radius: var(--border-radius-medium);
  font-size: 18px;
}
button.secondary, .button.secondary {
  background-color: var(--color-background-elevation);
  color: var(--white);
}

.gradient {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 1440px;
  transform: translate(-50%, 0);
}
.gradient.white {
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
}

section.hero {
  padding: calc(var(--padding-extra-large) - var(--padding-medium)) 0 var(--padding-extra-large);
}
section.hero h1 {
  text-align: center;
}
section.hero p {
  max-width: 620px;
  text-align: center;
}
section.hero .actions {
  display: flex;
  gap: 16px;
}

/*# sourceMappingURL=main.css.map */
