@font-face {
  font-weight: 400;
  src: url("../../static/fonts/DM-Sans-Regular.woff2");
  font-family: "DM Sans";
  font-display: swap;
}
@font-face {
  font-weight: 500;
  src: url("../../static/fonts/DM-Sans-Medium.woff2");
  font-family: "DM Sans";
  font-display: swap;
}
@font-face {
  font-weight: 400;
  src: url("../../static/fonts/DM-Mono-Regular.woff2");
  font-family: "DM Mono";
  font-display: swap;
}
*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.25;
}

h1, h2, h3, h4 {
  text-wrap: balance;
  font-weight: 500;
}

ul[class], ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

input, button, textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 128px;
}

:target {
  scroll-margin-block: 5ex;
}

img {
  max-width: 100%;
}

img[width] {
  width: auto;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  max-width: none;
  height: auto;
}

:root {
  --black: #000;
  --white: #fff;
  --beige: #f8f5ed;
  --green: #6ece9d;
  --yellow: #ffda6e;
  --orange: #f7a66b;
  --red: #e87b7b;
  --color-primary: var(--white);
  --color-secondary: #adadad;
  --color-background-primary: #0a0a0a;
  --color-background-primary-glass: rgba(10,10,10,.4);
  --color-background-secondary: #141414;
  --color-background-elevation: rgba(255,255,255,.04);
  --color-gradient-bottom: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);
  --padding-extra-large: 256px;
  --padding-large: 128px;
  --padding-medium: 64px;
  --padding-small: 32px;
  --padding-extra-small: 16px;
  --border-radius-large: 24px;
  --border-radius-medium: 12px;
  --border-radius-small: 6px;
  --mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 10%, rgba(0,0,0, 1) 90%, rgba(0,0,0, 0) 100%);
  --header-height: 88px;
  --backdrop-filter-glass: blur(24px);
}

html {
  font-feature-settings: "ss03" 1, "ss04" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  color: var(--color-primary);
  color-scheme: dark;
  font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
}

body {
  width: 100vw;
  margin-right: calc(-100vw + 100%);
  overflow-x: hidden;
}

section {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  padding-right: var(--padding-small);
  padding-left: var(--padding-small);
}
section .section-content {
  display: flex;
  position: relative;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-small);
}

h1, .h1 {
  font-size: 96px;
  letter-spacing: -2px;
}

h2, .h2 {
  font-size: 64px;
}

h3, .h3 {
  font-size: 28px;
}

p, .p {
  color: var(--color-secondary);
  font-size: 18px;
}

small {
  color: var(--color-secondary);
  font-size: 14px;
}

strong {
  font-weight: 500;
}

a {
  font-weight: 500;
}
@media only screen and (min-width: 513px) {
  a {
    transition: opacity 0.1s ease;
  }
  a:hover {
    opacity: 0.8;
  }
}

img {
  display: block;
  object-fit: contain;
}

button, .button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 36px;
  padding: 0 12px;
  background-color: var(--green);
  color: var(--black);
  font-weight: 500;
}
@media only screen and (min-width: 513px) {
  button, .button {
    transition: opacity 0.1s ease;
  }
  button:hover, .button:hover {
    opacity: 0.8;
  }
}
button.large, .button.large {
  height: 48px;
  padding: 0 24px;
  border-radius: var(--border-radius-medium);
  font-size: 18px;
}
button.small, .button.small {
  height: 36px;
  padding: 0 12px;
  border-radius: var(--border-radius-small);
  font-size: 16px;
}
button.secondary, .button.secondary {
  background-color: var(--color-background-elevation);
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 128px;
  padding: var(--padding-small);
  gap: var(--padding-small);
  border-radius: var(--border-radius-large);
  backdrop-filter: var(--backdrop-filter-glass);
  background-color: var(--color-background-elevation);
}
.card.columns {
  flex-direction: row;
  align-items: stretch;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  gap: var(--padding-extra-small);
}

.gradient-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1440px;
}
.gradient-container .gradient {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 1440px;
  transform: translate(-50%, 0);
}
.gradient-container .gradient.right {
  transform: translate(-25%, 0);
}
.gradient-container .gradient.left {
  transform: translate(-75%, 0);
}
.gradient-container .gradient.white {
  background: radial-gradient(ellipse closest-side, hsla(0, 0%, 100%, 0.15) 0%, hsla(0, 0%, 100%, 0.148) 8.1%, hsla(0, 0%, 100%, 0.143) 15.5%, hsla(0, 0%, 100%, 0.134) 22.5%, hsla(0, 0%, 100%, 0.124) 29%, hsla(0, 0%, 100%, 0.111) 35.3%, hsla(0, 0%, 100%, 0.097) 41.2%, hsla(0, 0%, 100%, 0.082) 47.1%, hsla(0, 0%, 100%, 0.068) 52.9%, hsla(0, 0%, 100%, 0.053) 58.8%, hsla(0, 0%, 100%, 0.039) 64.7%, hsla(0, 0%, 100%, 0.026) 71%, hsla(0, 0%, 100%, 0.016) 77.5%, hsla(0, 0%, 100%, 0.007) 84.5%, hsla(0, 0%, 100%, 0.002) 91.9%, hsla(0, 0%, 100%, 0) 100%);
}
.gradient-container .gradient.green {
  background: radial-gradient(ellipse closest-side, hsla(149, 49%, 62%, 0.15) 0%, hsla(149, 49%, 62%, 0.148) 8.1%, hsla(149, 49%, 62%, 0.143) 15.5%, hsla(149, 49%, 62%, 0.134) 22.5%, hsla(149, 49%, 62%, 0.124) 29%, hsla(149, 49%, 62%, 0.111) 35.3%, hsla(149, 49%, 62%, 0.097) 41.2%, hsla(149, 49%, 62%, 0.082) 47.1%, hsla(149, 49%, 62%, 0.068) 52.9%, hsla(149, 49%, 62%, 0.053) 58.8%, hsla(149, 49%, 62%, 0.039) 64.7%, hsla(149, 49%, 62%, 0.026) 71%, hsla(149, 49%, 62%, 0.016) 77.5%, hsla(149, 49%, 62%, 0.007) 84.5%, hsla(149, 49%, 62%, 0.002) 91.9%, hsla(149, 49%, 62%, 0) 100%);
}
.gradient-container .gradient.yellow {
  background: radial-gradient(ellipse closest-side, hsla(45, 99%, 71%, 0.15) 0%, hsla(45, 99%, 71%, 0.148) 8.1%, hsla(45, 99%, 71%, 0.143) 15.5%, hsla(45, 99%, 71%, 0.134) 22.5%, hsla(45, 99%, 71%, 0.124) 29%, hsla(45, 99%, 71%, 0.111) 35.3%, hsla(45, 99%, 71%, 0.097) 41.2%, hsla(45, 99%, 71%, 0.082) 47.1%, hsla(45, 99%, 71%, 0.068) 52.9%, hsla(45, 99%, 71%, 0.053) 58.8%, hsla(45, 99%, 71%, 0.039) 64.7%, hsla(45, 99%, 71%, 0.026) 71%, hsla(45, 99%, 71%, 0.016) 77.5%, hsla(45, 99%, 71%, 0.007) 84.5%, hsla(45, 99%, 71%, 0.002) 91.9%, hsla(45, 99%, 71%, 0) 100%);
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--padding-small);
  gap: var(--padding-small);
}
.grid .row {
  gap: var(--padding-small);
}
.grid .row.two-one {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid .row.one-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

header {
  display: grid;
  z-index: 10;
  position: fixed;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  width: 100vw;
  height: var(--header-height);
  padding-right: var(--padding-small);
  padding-left: var(--padding-small);
  backdrop-filter: var(--backdrop-filter-glass);
  background-color: var(--color-background-primary-glass);
  transition: height 0.1s ease;
}
header.small {
  height: 64px;
}
header .header-content {
  display: flex;
  grid-column: 2;
  align-items: center;
  justify-content: space-between;
}
header .header-content .logo {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 6px;
}
@media only screen and (min-width: 513px) {
  header .header-content .logo {
    transition: opacity 0.1s ease;
  }
  header .header-content .logo:hover {
    opacity: 0.8;
  }
}
header .header-content .logo svg {
  fill: var(--color-primary);
  width: 20px;
}
header .header-content .logo span {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
}
header .header-content nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

section.hero {
  position: relative;
  margin-bottom: var(--padding-extra-large);
  padding-top: calc(var(--padding-extra-large) - var(--padding-medium));
  overflow: hidden;
}
section.hero:before {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--padding-large);
  background: var(--color-gradient-bottom);
  content: "";
}
section.hero h1 {
  text-align: center;
}
section.hero p {
  max-width: 620px;
  text-align: center;
}
section.hero .actions {
  display: flex;
  margin-top: calc(var(--padding-small) / 2);
  gap: 16px;
}
section.hero .customers {
  display: flex;
  gap: 12px;
}
section.hero .customers img {
  height: 40px;
}
section.hero .customers .customers-content {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  gap: 4px;
}
section.hero figure {
  overflow: hidden;
  border-top-right-radius: var(--border-radius-large);
  border-top-left-radius: var(--border-radius-large);
}

.marquee {
  width: 100%;
  overflow: hidden;
  mask: var(--mask);
}
.marquee .marquee-content {
  display: flex;
  gap: 24px;
}

.gdpr-logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 164px;
}

section.step {
  margin-bottom: var(--padding-extra-large);
}
section.step .nummeration {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-background-elevation);
}
section.step .nummeration .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color-background-elevation);
}
section.step .nummeration .text {
  padding: 0 24px 0 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
section.step .section-content > h1 {
  text-align: center;
}
section.step .section-content > p {
  max-width: 768px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
