.code-snippets {
    width: 100%;
    max-width: calc(584px - var(--padding-small) * 1.5);
}

.code-tabs{
    display: inline-flex;
    margin: 0 -16px;
    overflow-x: auto;

    & > *:first-child {
        padding-left: 16px;
    }

    & > *:last-child {
        padding-right: 16px;
    }

    span {
        @include hover;

        margin-right: 24px;
        margin-bottom: 12px;
        color: var(--color-secondary);
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        user-select: none;

        &.active {
            color: var(--color-primary);
        }
    }
}

code[class*="language-"],
pre[class*="language-"] {
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    font-size: 16px;
    line-height: 1.5;
    font-family: "DM Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    hyphens: none;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
}

pre[class*="language-"] {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 24px;
    overflow-x: auto;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-background-elevation);

    & > code[class*="language-"] {
        background-color: transparent;
    }
}

code[class*="language-"] {
    padding-right: 24px;
    background-color: var(--color-background-elevation);
    color: var(--color-primary);
}

:not(pre) > code[class*="language-"] {
    padding: 4px;
    border-radius: 4px;
    box-shadow: none;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
    color: var(--color-secondary);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: var(--blue);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: var(--orange);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
    color: var(--red);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--green);
}

.token.regex,
.token.important {
    color: var(--yellow);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
 
.token.entity {
    cursor: help;
}

.token.deleted {
    color: var(--red);
}
 
pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix), pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
    display: inline;
    background-color: rgba(255,0,0,.3);
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix), pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
    display: inline;
    background-color: rgba(0,255,128,.3);
}
 
pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 60px;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}
 
.line-numbers .line-numbers-rows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    top: 0;
    left: -64px;
    width: 48px;
    border-right: 1px solid var(--color-secondary);
    font-size: 100%;
    letter-spacing: -1px;
    pointer-events: none;
    user-select: none;

    span:last-of-type {
        margin-bottom: -24px;
        padding-bottom: 24px;
    }
}
 
.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}
 
.line-numbers-rows > span::before {
    display: block;
    padding-right: 12px;
    content: counter(linenumber);
    color: var(--color-secondary);
    text-align: right;
}

@media only screen and (max-width: 512px) {
    .code-tabs span {
        margin-right: 16px;
        font-size: 20px;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        font-size: 14px;
    }
}
 