section.customers {
    margin-bottom: var(--padding-extra-large);

    .grid {
        margin: 0;
        gap: var(--padding-medium);
    }

    .row {
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--padding-large);
        opacity: .65;
    }

    @media only screen and (max-width: 1024px) {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            padding: 0;
            gap: var(--padding-medium) 0;

            img {
                margin: 0 auto;
                transform: scale(.8);
            }
        }
    }
}