section.faq {
    margin-bottom: var(--padding-extra-large);

    .section-content {
        & > h2 {
            text-align: center;
        }
    
        & > p {
            max-width: 640px;
            text-align: center;
        }

        .grid {
            width: 960px;
            max-width: 100%;
        }
    }
}