section.hero {
    position: relative;
    margin-bottom: var(--padding-large);
    padding-top: var(--padding-extra-large);
    overflow: hidden;

    &:before {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: var(--padding-large);
        background: var(--color-gradient-bottom);
        content: "";
    }

    .h2 {
        max-width: 768px;
    }

    .actions {
        display: flex;
        margin-top: calc(var(--padding-small) / 2);
        gap: 16px;
    }

    .customers {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 12px;

        img {
            height: 40px;
        }

        .customers-content {
            display: flex;
            flex-direction: column;
            padding-top: 2px;
            gap: 6px;

            small {
                line-height: 1.25;
            }
        }
    }

    figure {
        position: relative;
        max-width: calc(100vw - 32px);
        margin-top: var(--padding-small);
        overflow: hidden;
        border-top-right-radius: var(--border-radius-large);
        border-top-left-radius: var(--border-radius-large);

        img {
            &.hidden {
                display: none;
            }
        }

        .click-area {
            position: absolute;
            top: 12.8%;
            height: 4.3%;
            border-radius: var(--border-radius-small);
            animation: pulse 1.5s ease infinite;
            cursor: pointer;

            &.area-1 {
                left: 3.6%;
                width: 10.3%;
            }

            &.area-2 {
                left: 14.6%;
                width: 11.3%;
            }

            &.area-3 {
                left: 26.6%;
                width: 9.2%;
            }

            &.area-4 {
                left: 36.5%;
                width: 9.9%;
            }

            @keyframes pulse {
                0% {
                  box-shadow: 0 0 0 2px var(--green);
                  opacity: .4;
                }
                50% {
                  box-shadow: 0 0 0 3px var(--green);
                  opacity: 1;
                }
                100% {
                    box-shadow: 0 0 0 2px var(--green);
                    opacity: .4;
                  }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .actions {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .button {
                width: 100%;
                max-width: 384px;
            }
        }
    }
    
    @media only screen and (max-width: 512px) {
        .customers {
            align-items: center;

            .customers-content {
                max-width: 114px;
            }
        }
    }
}