section.blog {
    margin-bottom: var(--padding-extra-large);
    padding-top: calc(var(--padding-extra-large) - var(--header-height));

    .section-content {
        & > h2 {
            text-align: center;
        }
    
        & > p {
            max-width: 768px;
            text-align: center;
        }
    }

    .article-card {
        overflow: hidden;
        gap: var(--padding-extra-small);

        img {
            width: calc(100% + var(--padding-small) * 3);
            max-width: none;
            margin: calc(var(--padding-small) * -1.5) calc(var(--padding-small) * -1.5) var(--padding-extra-small);;
        }

        p {
            font-weight: 400;
        }

        small {
            margin: auto 0 0 auto;
        }
    }
}