button, .button {
    @include hover;

    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36px;
    padding: 0 12px;
    background-color: var(--green);
    color: var(--black);
    font-weight: 500;

    &.large {
        height: 48px;
        padding: 0 24px;
        border-radius: var(--border-radius-medium);
        font-size: 18px;
    }

    &.small {
        height: 36px;
        padding: 0 12px;
        border-radius: var(--border-radius-small);
        font-size: 16px;
    }

    &.secondary {
        background-color: var(--color-background-elevation);
        color: var(--white);
    }
}