button, .button {
    @include hover;

    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 48px;
    padding: 0 24px;
    border-radius: var(--border-radius-medium);
    outline: none;
    background-color: var(--green);
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    
    &.small {
        height: 36px;
        padding: 0 16px;
        border-radius: var(--border-radius-small);
        font-size: 16px;
    }

    &.secondary {
        background-color: var(--color-background-elevation);
        color: var(--color-primary);
    }

    &.yellow {
        background-color: var(--yellow);
    }

    &.grey {
        background-color: #adadad;
    }
}