.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    min-height: 64px;
    padding: calc(var(--padding-small) * 1.5);
    gap: var(--padding-small);
    border-radius: var(--border-radius-large);
    backdrop-filter: var(--backdrop-filter-glass);
    background-color: var(--color-background-elevation);

    &.columns {
        flex-direction: row;
        align-items: stretch;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: var(--padding-extra-small);

        .button {
            margin-top: auto;
        }
    }

    @media only screen and (max-width: 1024px) {
        @media only screen and (max-width: 1024px) {
            max-width: 512px;
        }

        &.columns {
            flex-direction: column;
        }

        .card-content .button {
            margin-top: var(--padding-small);;
        }
    }

    @media only screen and (max-width: 512px) {
        padding: var(--padding-small);
    }
}