.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 128px;
    padding: calc(var(--padding-small) * 1.5);
    gap: var(--padding-small);
    border-radius: var(--border-radius-large);
    backdrop-filter: var(--backdrop-filter-glass);
    background-color: var(--color-background-elevation);

    &.columns {
        flex-direction: row;
        align-items: stretch;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: var(--padding-extra-small);
    }
}