section.content {
    margin-bottom: var(--padding-extra-large);

    .nummeration {
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 20px;
        backdrop-filter: var(--backdrop-filter-glass);
        background-color: var(--color-background-elevation);

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: var(--color-background-elevation);
            font-weight: 500;
        }

        .text {
            padding: 0 24px 0 16px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    @media only screen and (max-width: 1024px) {
        .nummeration {
            height: 32px;

            .number {
                width: 32px;
                height: 32px;
                font-size: 14px;
            }

            .text {
                padding: 0 16px 0 12px;
                font-size: 12px;
            }
        }
    }
}