section.cta {
    .section-content {
        img {
            width: 192px;
            height: 192px;
        }

        & > h1 {
            text-align: center;
        }
    
        & > p {
            max-width: 768px;
            text-align: center;
        }
    }
}