section.cta {
    .section-content {
    margin-top: -1920px;
    padding-top: 1920px;

        img {
            width: 192px;
            height: 192px;
        }

        & > h2 {
            text-align: center;
        }
    
        & > p {
            max-width: 768px;
            text-align: center;
        }
    }
}