section.cta {
    margin-bottom: var(--padding-extra-large);

    .section-content {
        img {
            width: 192px;
            height: 192px;
        }

        & > h2 {
            text-align: center;
        }
    
        & > p {
            max-width: 768px;
            text-align: center;
        }
    }

    @media only screen and (max-width: 1024px) {
        .actions {
            width: 100%;

            .button {
                width: 100%;
                max-width: 384px;
            }
        }
    }
}