section.features {
    margin-bottom: var(--padding-extra-large);
    padding-top: var(--padding-extra-large);

    h2 {
        display: flex;
        align-items: center;
        height: 64px;
        margin: var(--padding-small) 0 calc(var(--padding-small) * -1);
        padding: 0 var(--padding-small);
        border-radius: 32px;
        backdrop-filter: var(--backdrop-filter-glass);
        background-color: var(--color-background-elevation);
    }

    .actions {
        display: flex;
        margin-top: calc(var(--padding-small) / 2);
        gap: 16px;
    }

    .card {
        padding: var(--padding-small);
        gap: var(--padding-extra-small);
    }

    @media only screen and (max-width: 1024px) {
        .actions {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .button {
                width: 100%;
                max-width: 384px;
            }
        }
    }
}