@font-face {
    font-weight: 400;
    src: url("/static/fonts/DM-Sans-Regular.woff2");
    font-family: "DM Sans";
    font-display: swap;
}

@font-face {
    font-weight: 500;
    src: url("/static/fonts/DM-Sans-Medium.woff2");
    font-family: "DM Sans";
    font-display: swap;
}

@font-face {
    font-weight: 400;
    src: url("/static/fonts/DM-Mono-Regular.woff2");
    font-family: "DM Mono";
    font-display: swap;
}