section.form {
    padding-top: var(--padding-extra-large);

    .h3 {
        max-width: 512px;
        margin-bottom: 8px;
        font-size: 28px;
        text-align: center;
    }

    p {
        max-width: 512px;
        font-size: 16px;
        text-align: center;
    }

    small {
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 320px;

        button {
            width: 100%;
            margin-top: 12px;
            border-radius: 6px;
        }
    }

    .h-captcha-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        border-radius: 6px;
        background-color: var(--color-background-elevation);
    
        .h-captcha {
            position: relative;
            width: 300px;
            height: 74px;
            overflow: hidden;
            border-radius: 4px;
        
            iframe {
                position: absolute;
                top: -1px;
                left: -1px;
                opacity: .9;
            }
        }
    }
}