section.form {
    padding: var(--padding-extra-large) 0 var(--padding-large);

    .h3 {
        max-width: 512px;
        margin-bottom: 8px;
        font-size: 28px;
        text-align: center;
    }

    p {
        max-width: 512px;
        font-size: 16px;
        text-align: center;
    }

    small {
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 320px;

        button {
            width: 100%;
            margin-top: 12px;
            border-radius: 6px;
        }
    }

    .h-captcha-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 12px 0;
        overflow: hidden;
        border-radius: 6px;
        background-color: var(--color-background-elevation);
    
        .h-captcha {
            position: relative;
            width: 298px;
            height: 72px;
            overflow: hidden;
            border-radius: 4px;
            background-color: var(--color-background-primary);
        
            iframe {
                position: absolute;
                top: -2px;
                left: -2px;
                transform: translate3d(0,0,0);
                opacity: .9;
            }
        }
    }
}