.gradient-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1440px;

    .gradient {
        position: absolute;
        top: 0; 
        left: 50%;
        width: 1920px;
        height: 1440px;
        transform: translate(-50%, 0);

        &.right {
            transform: translate(-25%, 0);
        }
        
        &.left {
            transform: translate(-75%, 0);
        }

        &.white {
            background: -webkit-radial-gradient(var(--color-gradient-white));
            background: radial-gradient(var(--color-gradient-white));
        }

        &.green {
            background: -webkit-radial-gradient(var(--color-gradient-green));
            background: radial-gradient(var(--color-gradient-green));
        }

        &.yellow {
            background: -webkit-radial-gradient(var(--color-gradient-yellow));
            background: radial-gradient(var(--color-gradient-yellow));
        }
    } 
}