.gradient-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1440px;

    .gradient {
        position: absolute;
        top: 0; 
        left: 50%;
        width: 1920px;
        height: 1440px;
        transform: translate(-50%, 0);

        &.right {
            transform: translate(-25%, 0);
        }
        
        &.left {
            transform: translate(-75%, 0);
        }

        &.white {
            background: -webkit-radial-gradient(
                ellipse closest-side, 
                hsla(0,0%,100%,.15) 0%,
                hsla(0,0%,100%,.148) 8.1%,
                hsla(0,0%,100%,.143) 15.5%,
                hsla(0,0%,100%,.134) 22.5%,
                hsla(0,0%,100%,.124) 29%,
                hsla(0,0%,100%,.111) 35.3%,
                hsla(0,0%,100%,.097) 41.2%,
                hsla(0,0%,100%,.082) 47.1%,
                hsla(0,0%,100%,.068) 52.9%,
                hsla(0,0%,100%,.053) 58.8%,
                hsla(0,0%,100%,.039) 64.7%,
                hsla(0,0%,100%,.026) 71%,
                hsla(0,0%,100%,.016) 77.5%,
                hsla(0,0%,100%,.007) 84.5%,
                hsla(0,0%,100%,.002) 91.9%,
                hsla(0,0%,100%,0) 100%
            );
            background: radial-gradient(
                ellipse closest-side, 
                hsla(0,0%,100%,.15) 0%,
                hsla(0,0%,100%,.148) 8.1%,
                hsla(0,0%,100%,.143) 15.5%,
                hsla(0,0%,100%,.134) 22.5%,
                hsla(0,0%,100%,.124) 29%,
                hsla(0,0%,100%,.111) 35.3%,
                hsla(0,0%,100%,.097) 41.2%,
                hsla(0,0%,100%,.082) 47.1%,
                hsla(0,0%,100%,.068) 52.9%,
                hsla(0,0%,100%,.053) 58.8%,
                hsla(0,0%,100%,.039) 64.7%,
                hsla(0,0%,100%,.026) 71%,
                hsla(0,0%,100%,.016) 77.5%,
                hsla(0,0%,100%,.007) 84.5%,
                hsla(0,0%,100%,.002) 91.9%,
                hsla(0,0%,100%,0) 100%
            );
        }

        &.green {
            background: -webkit-radial-gradient(
                ellipse closest-side, 
                hsla(149,49%,62%,.15) 0%,
                hsla(149,49%,62%,.148) 8.1%,
                hsla(149,49%,62%,.143) 15.5%,
                hsla(149,49%,62%,.134) 22.5%,
                hsla(149,49%,62%,.124) 29%,
                hsla(149,49%,62%,.111) 35.3%,
                hsla(149,49%,62%,.097) 41.2%,
                hsla(149,49%,62%,.082) 47.1%,
                hsla(149,49%,62%,.068) 52.9%,
                hsla(149,49%,62%,.053) 58.8%,
                hsla(149,49%,62%,.039) 64.7%,
                hsla(149,49%,62%,.026) 71%,
                hsla(149,49%,62%,.016) 77.5%,
                hsla(149,49%,62%,.007) 84.5%,
                hsla(149,49%,62%,.002) 91.9%,
                hsla(149,49%,62%,0) 100%
            );
            background: radial-gradient(
                ellipse closest-side, 
                hsla(149,49%,62%,.15) 0%,
                hsla(149,49%,62%,.148) 8.1%,
                hsla(149,49%,62%,.143) 15.5%,
                hsla(149,49%,62%,.134) 22.5%,
                hsla(149,49%,62%,.124) 29%,
                hsla(149,49%,62%,.111) 35.3%,
                hsla(149,49%,62%,.097) 41.2%,
                hsla(149,49%,62%,.082) 47.1%,
                hsla(149,49%,62%,.068) 52.9%,
                hsla(149,49%,62%,.053) 58.8%,
                hsla(149,49%,62%,.039) 64.7%,
                hsla(149,49%,62%,.026) 71%,
                hsla(149,49%,62%,.016) 77.5%,
                hsla(149,49%,62%,.007) 84.5%,
                hsla(149,49%,62%,.002) 91.9%,
                hsla(149,49%,62%,0) 100%
            );
        }

        &.yellow {
            background: -webkit-radial-gradient(
                ellipse closest-side, 
                hsla(45,99%,71%,.15) 0%,
                hsla(45,99%,71%,.148) 8.1%,
                hsla(45,99%,71%,.143) 15.5%,
                hsla(45,99%,71%,.134) 22.5%,
                hsla(45,99%,71%,.124) 29%,
                hsla(45,99%,71%,.111) 35.3%,
                hsla(45,99%,71%,.097) 41.2%,
                hsla(45,99%,71%,.082) 47.1%,
                hsla(45,99%,71%,.068) 52.9%,
                hsla(45,99%,71%,.053) 58.8%,
                hsla(45,99%,71%,.039) 64.7%,
                hsla(45,99%,71%,.026) 71%,
                hsla(45,99%,71%,.016) 77.5%,
                hsla(45,99%,71%,.007) 84.5%,
                hsla(45,99%,71%,.002) 91.9%,
                hsla(45,99%,71%,0) 100%
            );
            background: radial-gradient(
                ellipse closest-side, 
                hsla(45,99%,71%,.15) 0%,
                hsla(45,99%,71%,.148) 8.1%,
                hsla(45,99%,71%,.143) 15.5%,
                hsla(45,99%,71%,.134) 22.5%,
                hsla(45,99%,71%,.124) 29%,
                hsla(45,99%,71%,.111) 35.3%,
                hsla(45,99%,71%,.097) 41.2%,
                hsla(45,99%,71%,.082) 47.1%,
                hsla(45,99%,71%,.068) 52.9%,
                hsla(45,99%,71%,.053) 58.8%,
                hsla(45,99%,71%,.039) 64.7%,
                hsla(45,99%,71%,.026) 71%,
                hsla(45,99%,71%,.016) 77.5%,
                hsla(45,99%,71%,.007) 84.5%,
                hsla(45,99%,71%,.002) 91.9%,
                hsla(45,99%,71%,0) 100%
            );
        }
    } 
}