.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: var(--padding-small);
    gap: var(--padding-small);

    &.one-one {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &.one-one-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .row {
        display: flex;
        gap: var(--padding-small);

        &.two-one {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        &.one-two {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--padding-small);
    }

    @media only screen and (max-width: 1024px) {
        align-items: center;

        &.one-one, &.one-one-one { 
            display: flex;
            flex-direction: column;
        }

        .row {
            flex-direction: column;

            &.two-one, &.one-two {
                grid-template-columns: 1fr;
            }
        }
    }
}