header {
    -webkit-backface-visibility: hidden;
    display: grid;
    z-index: 10;
    position: fixed;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    width: 100vw;
    height: var(--header-height);
    padding-right: 16px;
    padding-left: 16px;
    backface-visibility: hidden;
    transition: height .1s ease;

    &:before {
        -webkit-backdrop-filter: blur(24px);
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        backdrop-filter: blur(24px);
        background-color: var(--color-background-primary-glass);
        content: "";
    } 

    &.small {
        height: 64px;
    }

    .header-content {
        display: flex;
        position: relative;
        grid-column: 2;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .logo {
            @include hover;
    
            display: flex;
            align-items: center;
            height: 28px;
            margin: 18px 0;
            gap: 6px;
    
            svg {
                fill: var(--color-primary);
                width: 20px;
            }
    
            span {
                font-weight: 500;
                font-size: 24px;
                letter-spacing: -1px;
            }
        }
    
        nav {
            display: flex;
            align-items: center;
            gap: 24px;

            .dropdown {
                position: relative;
                margin: 0 -12px;
                padding: 4px 12px;

                &:hover {
                    .dropdown-button {
                        opacity: 1;

                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    .dropdown-content {
                        -webkit-backdrop-filter: blur(24px);
                        backdrop-filter: blur(24px);
                    }
                }

                .dropdown-button {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    gap: 6px;
                    background-color: transparent;
                    color: var(--color-primary);
                    
                    svg {
                        transition: transform .1s ease;
                    }
                }

                .dropdown-content {
                    -webkit-backdrop-filter: blur(24px);
                    display: flex;
                    position: absolute;
                    top: 100%;
                    left: -48px;
                    flex-direction: column;
                    max-height: 0;
                    padding: 0 24px;
                    overflow: hidden;
                    gap: 20px;
                    border-radius: var(--border-radius-medium);
                    backdrop-filter: blur(24px);
                    background-color: var(--color-background-elevation);
                    opacity: 0;
                    transition: max-height .2s ease, opacity .2s ease;

                    a {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        gap: 12px;
                        font-size: 16px;

                        &:first-of-type {
                            margin-top: 20px;
                        }
    
                        &:last-of-type {
                            margin-bottom: 20px;
                        }

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            a:not(.button) {
                margin: 0 -12px;
                padding: 4px 12px;
                white-space: nowrap;
            }
        }

        .icon {
            @include hover;

            position: absolute;
            top: 20px;
            right: 0;
            margin: 0 4px;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 768px) {
        height: auto;
        min-height: var(--header-height);

        &.small {
            height: auto;
        }

        .header-content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            nav {
                display: none;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding-bottom: 24px;

                .dropdown {
                    margin: 0;
                    padding: 0;

                    .dropdown-button {
                        display: none;
                    }

                    .dropdown-content {
                        -webkit-backdrop-filter: none;
                        position: initial;
                        align-items: center;
                        max-height: none;
                        padding: 0;
                        gap: 24px;
                        backdrop-filter: none;
                        background-color: transparent;
                        opacity: 1;

                        a {
                            font-size: 18px;

                            &:first-of-type {
                                margin-top: 0;
                            }
        
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                        svg {
                            display: none;
                        }
                    }
                }

                a:not(.button) {
                    padding: 0;
                    font-size: 18px;
                }

                .button {
                    width: 100%;
                    max-width: 384px;
                    height: 48px;
                    border-radius: var(--border-radius-medium);
                    font-size: 18px;
                }
            }  
        } 
    }
}