header {
    display: grid;
    z-index: 10;
    position: fixed;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    width: 100vw;
    height: var(--header-height);
    padding-right: var(--padding-small);
    padding-left: var(--padding-small);
    backdrop-filter: var(--backdrop-filter-glass);
    background-color: var(--color-background-primary-glass);
    transition: height .1s ease;

    &.small {
        height: 64px;
    }

    .header-content {
        display: flex;
        grid-column: 2;
        align-items: center;
        justify-content: space-between;

        .logo {
            @include hover;
    
            display: flex;
            align-items: center;
            height: 28px;
            gap: 6px;
    
            svg {
                fill: var(--color-primary);
                width: 20px;
            }
    
            span {
                font-weight: 500;
                font-size: 24px;
                letter-spacing: -1px;
            }
        }
    
        nav {
            display: flex;
            align-items: center;
            gap: 24px;

            a {
                white-space: nowrap;
            }
        }
    }
}