section.hero {
    padding: calc(var(--padding-extra-large) - var(--padding-medium)) 0 var(--padding-extra-large);

    h1 {
        text-align: center;
    }

    p {
        max-width: 620px;
        text-align: center;
    }

    .actions {
        display: flex;
        gap: 16px;
    }
}