section.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0 96px;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        align-items: center;
    }

    h1 {
        margin-bottom: 24px;
        text-align: left;
    }

    p {
        margin-bottom: 48px;
    }

    .cta {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }

    figure {
        position: relative;
        height: 0;
        width: 100%;
        margin-top: 96px;
        padding-top: 64%;
        background-color: var(--color-background-primary);
        border-radius: 12px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            border-radius: 12px;
            box-shadow: 0 0 0 2px var(--color-secondary);
        }
    }

    @media only screen and (max-width: 1024px) {
        padding: 96px 0 0;
    
        p {
            margin-bottom: 32px;
        }

        figure {
            margin-top: 48px;
        }
    }

    @media only screen and (max-width: 768px) {
        .row {
            display: flex;
            align-items: center;
            flex-direction: column;

            li {
                width: 100%;
            }
        }
    }
    
    @media only screen and (max-width: 512px) {
        h1 {
            text-align: left;
        }
    
        p {
            text-align: left;
        }

        .cta {
            flex-direction: column;
        }
    }
}
