/* Fieldset setup */
fieldset {
    position: relative;
    min-width: 32px;
}

/* Input, textarea and select */
fieldset:not(.file) {
    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="color"]):not([type="range"]),
    textarea,
    select {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        padding: 21px 12px 6px;
        border: none;
        border-radius: 6px;
        background-color: var(--color-background-elevation);
        color: var(--color-primary);
        font-size: 16px;
        font-family: inherit;
    
        &:focus:not(:disabled),
        &:focus-within:not(:disabled) {
            outline: none;
            box-shadow: 0 0 0 1px var(--color-secondary);
            color: var(--color-primary);
            
            /* Move label to top when input is focused */
            & + label {
				transform: translateY(-10px);
                font-size: 13px;
			}
        }

        /* Move label to top when input is not empty */
        &:not(:placeholder-shown) + label,
        &.placeholder + label {
            transform: translateY(-10px);
            font-size: 13px;
        }

        /* Disabled */
        &:disabled {
            color: var(--color-secondary);
            cursor: default;
            opacity: .5;

            & ~ label,
            & ~ small {
                opacity: .5;
                user-select: none;
            }
        }
    }

    textarea {
        height: 96px;
        min-height: 48px;
        max-height: 256px;
        overflow-y: auto;
        resize: vertical;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 48px;
        padding: 20px 32px 4px 12px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%205%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.646+4.646a.5.5%200%200%200%20.707%200L9.146.854A.5.5%200%200%200%208.793+0H1.207a.5.5%200%200%200-.354.854l3.793%203.793z%22%20fill%3D%22%23797c80%22%2F%3E%3C%2Fsvg%3E');
        background-position: right 12px top 50%, 0 0;
        background-size: 12px auto, 100%;
        background-repeat: no-repeat, repeat;
        
        /* Remove dotted line in Firefox */
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }

    option {
        background-color: var(--color-background-secondary);
    }

    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="color"]):not([type="range"]) + label,
    textarea + label,
    select + label {
        display: block;
        position: absolute;
        top: 14px;
        left: 12px;
        max-width: calc(100% - 24px);
        overflow: hidden;
        color: var(--color-secondary);
        line-height: 1.5;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        transition-duration: .1s;
        transition-property: font-size, color, transform;
        transition-timing-function: ease;
        user-select: none;
    }

    small {
        display: block;
        margin: 4px 8px 8px;
        font-size: 13px;
        line-height: 18px;

        &.error {
            color: var(--red);
        }

        .green {
            color: var(--green);
        }

        .red {
            color: var(--red);
        }
    }
}

/* Checkbox */
fieldset:not(.toggle) {
    /* Hide standard checkbox */
    input[type="checkbox"] {
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 4px 10px;
        opacity: 0;
        
        & + label {
            display: inline-block;
            position: relative;
            min-height: 16px;
            padding-left: 32px;
            line-height: 1.5;
        }

        /* Checkbox setup */
        & + label::before {
            display: block;
            position: absolute;
            left: -4px;
            width: 16px;
            height: 16px;
            margin: 4px 10px;
            float: left;
            border-radius: 12px;
            background-color: var(--white);
            content: "";
            cursor: pointer;
        }

        /* Tick setup */
        & + label::after {
            position: absolute;
            top: 4px;
            left: 12px;
            width: 4px;
            height: 9px;
            transform: rotate(45deg);
            box-shadow: 1.5px 1.5px 0 .5px var(--black);
            content: "";
            opacity: 0;
            pointer-events: none;
        }

        /* Disabled */
        &:disabled {
            cursor: default;
            opacity: .5;

            & + label {
                color: var(--color-secondary);
                opacity: .5;
            }

            &:checked + label::before {
                background-color: var(--color-secondary);
                cursor: default;
            }
        }
    }

    /* Checkbox focused and unchecked */
    input[type="checkbox"]:focus + label::before {
        box-shadow: 0 0 0 1px var(--color-secondary);
    }

    /* Checkbox focused and checked */
    input[type="checkbox"]:checked:focus + label::before {
        box-shadow: 0 0 0 1px var(--color-secondary);
    }

    /* Checkbox unfocused and checked */
    input[type="checkbox"]:checked + label::before {
        background-color: var(--color-accent);
        box-shadow: none;
    }

    /* Show tick when checked */
    input[type="checkbox"]:checked + label::after {
        opacity: 1;
    }
}

fieldset:not(#toggleBillingCycle) {
    /* Hide standard radio */
    input[type="radio"] {
        display: none;
        z-index: -1;
        width: 12px;
        height: 12px;
        margin: 6px 12px;
        opacity: 0;

        & + label {
            display: flex;
            position: relative;
            margin: 16px 0;
            cursor: pointer;
        }

        /* Radio setup */
        & + label::before {
            display: flex;
            align-items: center;
            width: 12px;
            height: 12px;
            margin: 2px 12px;
            border-radius: 50%;
            background-color: var(--color-background-elevation);
            content: "";
        }

        /* Disabled */
        &:disabled {
            cursor: default;
            opacity: .5;

            & + label {
                color: var(--color-secondary);
                opacity: .5;
            }

            &:checked + label::before {
                box-shadow: inset 0 0 0 3px var(--color-secondary);
            }
        }
    }

    /* Radio focused and unchecked */
    input[type="radio"]:focus + label::before {
        box-shadow: inset 0 0 0 1px var(--color-secondary);
    }

    /* Radio focused and checked */
    input[type="radio"]:checked:focus + label::before  {
        background-color: var(--color-background-elevation);
        box-shadow: inset 0 0 0 3px var(--green);
    }

    /* Radio unfocused and checked */
    input[type="radio"]:checked + label::before {
        background-color: var(--color-background-elevation);
        box-shadow: inset 0 0 0 3px var(--green);
    }

    small {
        display: block;
        margin: 4px 8px 8px;
        font-size: 13px;
        line-height: 18px;

        &.error {
            color: var(--red);
        }
    }
}