.accordion {
    display: block;
    padding: var(--padding-small);

    &.active .accordion-headline svg {
        transform: rotate(0);
    }

    .accordion-headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        color: var(--color-primary);

        svg {
            stroke: var(--color-primary);
            min-width: 24px;
            margin: 4px;
            transform: rotate(135deg);
            transition: transform 0.3s ease;
        }
    }
    
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
}

.border-radius-medium {
    border-radius: var(--border-radius-medium);
}

.cursor-pointer {
    cursor: pointer;
}

.gdpr-logo {
    --animation-delay: .2s;
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 164px;
    margin: auto;

    span {
        font-weight: 500;
        font-size: 36px;
    }

    img {
        position: absolute;
        width: 24px;
        height: 21px;

        &:nth-of-type(1) {
            top: 2px;
            left: 71px;
        }

        &:nth-of-type(2) {
            top: 11.25px;
            left: 105.75px;
        }

        &:nth-of-type(3) {
            top: 36.75px;
            left: 131.25px;
        }

        &:nth-of-type(4) {
            top: 71.5px;
            left: 140.5px;
        }

        &:nth-of-type(5) {
            top: 106.25px;
            left: 131.25px;
        }

        &:nth-of-type(6) {
            top: 131.75px;
            left: 105.75px;
        }

        &:nth-of-type(7) {
            top: 141px;
            left: 71px;
        }
        
        &:nth-of-type(8) {
            top: 131.75px;
            left: 36.25px;
        }

        &:nth-of-type(9) {
            top: 106.25px;
            left: 10.75px;
        }

        &:nth-of-type(10) {
            top: 71.5px;
            left: 1.5px;
        }

        &:nth-of-type(11) {
            top: 36.75px;
            left: 10.75px;
        }

        &:nth-of-type(12) {
            top: 11.25px;
            left: 36.25px;
        }
    }

    .background {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        background: radial-gradient(ellipse closest-side, rgba(255,255,255,.1) 0%,rgba(255,255,255,0) 100%);
    }
}

.no-select {
    user-select: none;
}

.marquee {
    width: 100%;
    margin: auto;
    overflow: hidden;
    mask: var(--mask);

    .marquee-content {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.mask-bottom {
    mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 85%, rgba(0,0,0, 0) 100%);
}

.mask-radial {
    mask: radial-gradient(ellipse closest-side, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 95%, rgba(0,0,0, .5) 100%);
}

.orga {
    position: relative;
    width: 100%;
    min-width: 584px;
    min-height: 400px;
    margin: calc(var(--padding-small)* -1.5);
    overflow: hidden;
    mask: linear-gradient(to bottom, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 15%, rgba(0,0,0, 1) 85%, rgba(0,0,0, 0) 100%);

    .orga-content {
        display: flex;
        position: absolute;
        top: -50%;
        left: 5%;
        align-items: center;
        justify-content: center;
        width: 200%;
        height: 200%;

        .circle {
            position: absolute;
            transform-origin: center;

            &:before {
                position: absolute;
                top: 100px;
                right: 100px;
                bottom: 100px;
                left: 100px;
                border: 2px solid var(--color-secondary);
                border-radius: 100%;
                content: "";
                opacity: .2;
            }

            &.small {
                width: 700px;
                height: 700px;
                animation: rotate-right 30s linear infinite;
            }

            &.large {
                width: 1100px;
                height: 1100px;
                animation: rotate-left 40s linear infinite;
            }
        }

        .person {
            z-index: 1;
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            animation: rotate-right 40s linear infinite;

            &:nth-of-type(1) {
                top: 60px;
                left: calc(50% - 40px);
            }

            &:nth-of-type(2) {
                top: calc(21.1% - 40px);
                right: calc(21.1% - 40px);
            }

            &:nth-of-type(3) {
                top: calc(50% - 40px);
                right: 60px;
            }

            &:nth-of-type(4) {
                right: calc(21.1% - 40px);
                bottom: calc(21.1% - 40px);
            }

            &:nth-of-type(5) {
                bottom: 60px;
                left: calc(50% - 40px);
            }

            &:nth-of-type(6) {
                bottom: calc(21.1% - 40px);
                left: calc(21.1% - 40px);
            }

            &:nth-of-type(7) {
                top: calc(50% - 40px);
                left: 60px;
            }

            &:nth-of-type(8) {
                top: calc(21.1% - 40px);
                left: calc(21.1% - 40px);
            }
        }

        .site {
            z-index: 1;
            position: absolute;
            width: 160px;
            height: 40px;
            padding: 0 12px;
            transform-origin: center;
            border-radius: var(--border-radius-medium);
            background-color: var(--yellow);
            color: var(--black);
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;
            text-align: center;
            white-space: nowrap;
            animation: rotate-left 30s linear infinite;

            &:nth-of-type(1) {
                top: 80px;
                left: calc(50% - 80px);
            }

            &:nth-of-type(2) {
                top: calc(24.7% - 20px);
                right: calc(24.7% - 80px);
            }

            &:nth-of-type(3) {
                top: calc(50% - 20px);
                right: 20px
            }

            &:nth-of-type(4) {
                right: calc(24.7% - 80px);
                bottom: calc(24.7% - 20px);
            }

            &:nth-of-type(5) {
                bottom: 80px;
                left: calc(50% - 80px);
            }

            &:nth-of-type(6) {
                bottom: calc(24.7% - 20px);
                left: calc(24.7% - 80px);
            }

            &:nth-of-type(7) {
                top: calc(50% - 20px);
                left: 20px;
            }

            &:nth-of-type(8) {
                top: calc(24.7% - 20px);
                left: calc(24.7% - 80px);
            }
        }
    }

    @keyframes rotate-right {
        0% {
            transform: rotateZ(0);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }

    @keyframes rotate-left {
        0% {
            transform: rotateZ(0);
        }
        100% {
            transform: rotateZ(-360deg);
        }
    }

    @media only screen and (max-width: 1024px) {
        min-width: calc(100% + var(--padding-small) * 3);
        min-height: 384px;
        mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 15%, rgba(0,0,0, 1) 85%, rgba(0,0,0, 0) 100%);

        .orga-content {
            top: 25%;
            left: -50%;
            transform: scale(.8);
        }
    }

    @media only screen and (max-width: 512px) {
        min-width: calc(100% + var(--padding-small) * 2);
        margin: calc(var(--padding-small)* -1);
    }
}

.tags {
    display: flex;
    margin-top: auto;
    padding-top: var(--padding-extra-small);
    gap: 8px;

    .tag {
        padding: 6px 8px;
        border-radius: 6px;
        color: var(--black);
        font-weight: 500;
        font-size: 16px;
        line-height: 1;

        &.green {
            background-color: var(--green);
        }
    
        &.yellow {
            background-color: var(--yellow);
        }
    
        &.grey {
            background-color: var(--color-secondary);
        }
    }
}

.testimonial {
    padding: var(--padding-small);
    gap: var(--padding-extra-small);

    .headline {
        display: flex;
        gap: 16px;

        img {
            width: 64px;
            min-width: 64px;
            height: 64px;
            border-radius: 100%;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;

            strong {
                display: block;
                font-size: 20px;
            }

            small {
                font-size: 16px;

                a {
                    font-weight: 400;
                }
            }
        }
    }

    p {
        font-size: 16px;
    }
}
