section.notfound {
    position: relative;
    height: 100vh;

    .section-content {
        height: 100%;
        margin-bottom: 0;
        padding-top: var(--padding-extra-large);
        padding-bottom: 0;

        .portal {
            position: relative;
            max-width: 768px;
            margin-bottom: var(--padding-small);
            padding: 0 48px;
    
            &:before {
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 0;
                width: 96px;
                height: 256px;
                transform: translate(0,-50%);
                border-radius: 100%;
                background-color: var(--color-background-primary);
                box-shadow: 0 0 11px 12px var(--green);
                content: "";
            }
    
            &:after {
                z-index: -1;
                position: absolute;
                top: 50%;
                right: 0;
                width: 96px;
                height: 256px;
                transform: translate(0,-50%);
                border-radius: 100%;
                background-color: var(--color-background-primary);
                box-shadow: 0 0 11px 12px var(--red);
                content: "";
            }
    
            .marquee {
                min-height: 256px;
                mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 5%, rgba(0,0,0, 1) 95%, rgba(0,0,0, 0) 100%);

                img {
                    height: 256px;
                }
            }
        }
    
        h1 {
            text-align: center;
        }
    }
}