section.pricing {
    margin-bottom: var(--padding-extra-large);
    padding-top: var(--padding-extra-large);

    .section-content {
        & > small {
            max-width: 640px;
            margin-top: var(--padding-extra-small);
            text-align: center;
        }

        .pricing-slider {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 768px;
            margin-top: var(--padding-small);
            gap: var(--padding-small);
            
            .pricing-slider-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 12px;

                .pricing-slider-value {
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 1.25;
                }
            }

            .billing-switch {
                display: flex;
                height: 48px;
                padding: 0;
                gap: 6px;
                border-radius: 12px;
                background-color: var(--color-background-elevation);
                cursor: default;
        
                &:hover,
                &:focus {
                    opacity: 1;
                }
            
                fieldset {
                    display: flex;
                    padding: 0 6px;
                }
              
                input[type="radio"] {
                    position: absolute;
                    width: 0 !important;
                    opacity: 0;
                }
              
                label {
                    @include hover;
    
                    display: inline-flex;
                    padding: 8px 12px;
                    border-radius: 6px;
                    color: var(--color-primary);
                    font-size: 16px;
                    cursor: pointer;
                    transition: opacity .1s ease;
    
                }
                  
                input[type="radio"]:checked + label {
                    background-color: var(--green);
                    color: var(--black);
                }
            }
    
            input[type="range"] {
                -moz-appearance: none;
                -webkit-appearance: none;
                width: 100%;
                height: 8px;
                margin: 16px 0;
                border-radius: 4px;
                outline: none;
                background-color: var(--color-background-elevation);
            
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 48px;
                    height: 48px;
                    border: 0;
                    border-radius: 50%;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: var(--green);
                    cursor: grab;
            
                    &:active {
                        cursor: grabbing;
                    }
                }
            
                &::-moz-range-thumb {
                    width: 48px;
                    height: 48px;
                    border: 0;
                    border: none;
                    border-radius: 50%;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: var(--green);
                    cursor: grab;
            
                    &:active {
                        cursor: grabbing;
                    }
                }
            
                &::-ms-thumb {
                    width: 48px;
                    height: 48px;
                    border: 0;
                    border-radius: 50%;
                    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: var(--green);
                    cursor: grab;
            
                    &:active {
                        cursor: grabbing;
                    }
                }
            
                &::-moz-focus-outer {
                    border: 0;
                }
            }
        }

        .pricing-tiers {
            margin-top: var(--padding-small);
            gap: var(--padding-small);

            .pricing-tier {
                gap: 0;

                &.yellow {
                    .pricing-tier-features-list li::before {
                        border-color: var(--yellow);
                    }
                }
    
                &.grey {
                    .pricing-tier-features-list li::before {
                        border-color: var(--color-secondary);
                    }
                }

                .pricing-tier-title {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    font-weight: 500;
                    font-size: 32px;

                    .pricing-tier-title-tag {
                        padding: 4px 6px;
                        border-radius: 4px;
                        background-color: var(--yellow);
                        color: var(--black);
                        font-size: 16px;
                        line-height: 1;
                    }
                }

                .pricing-tier-price {
                    display: inline-flex;
                    align-items: center;
                    margin-bottom: 12px;
                    font-size: 56px;

                    .pricing-tier-price-currency, .pricing-tier-price-amount, .pricing-tier-price-custom {
                        font-weight: 500;
                    }

                    .pricing-tier-price-after {
                        margin-left: 12px;
                    }
                }

                .pricing-tier-savings {
                    margin: -12px 0 12px;
                    color: var(--green);
                    font-weight: 500;
                }

                hr {
                    margin: auto 0 12px;
                }

                .pricing-tier-features-list {
                    padding: 12px 0;
                
                    li {
                        display: flex;
                        position: relative;
                        align-items: center;
                        margin-bottom: 0;
                        padding: 12px 0;
                        font-size: 18px;
                        line-height: 1.2;
            
                        &::before {
                            width: 8px;
                            height: 16px;
                            margin: 0 16px 6px 6px;
                            transform: rotate(45deg);
                            border-right: solid var(--green) 2px;
                            border-bottom: solid var(--green) 2px;
                            border-radius: 0;
                            background-color: transparent;
                            content: "";
                        }
    
                        &.bold {
                            font-weight: 500;
                        }
    
                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                .button {
                    width: 100%;
                    margin-top: var(--padding-extra-small);
                }
            }
        }

    }

    @media only screen and (max-width: 512px) {
        .section-content {
            .pricing-slider .pricing-slider-row {
                .pricing-slider-value {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }
            }

            .pricing-tier .pricing-tier-title {
                font-size: 28px !important;
            }
    
            .pricing-tier .pricing-tier-price .pricing-tier-price-currency, .pricing-tier .pricing-tier-price .pricing-tier-price-amount, .pricing-tier .pricing-tier-price .pricing-tier-price-custom {
                font-size: 40px;
            }
        }
    }
}

section.tier-comparison {
    margin-bottom: var(--padding-extra-large);

    table {
        width: 960px;
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    tr {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        gap: 24px;
        color: var(--color-secondary);
        font-size: 16px;
        mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 2%, rgba(0,0,0, 1) 98%, rgba(0,0,0, 0) 100%);

        @media only screen and (min-width: 513px) {
            &:hover:not(.title):not(.table-header):not(:last-of-type) {
                background-color: var(--color-background-elevation);
            }
        }

        &:last-of-type td {
            border-bottom-right-radius: var(--border-radius-large);
            border-bottom-left-radius: var(--border-radius-large);
        }

        &.title {
            background-color: var(--color-background-elevation);
            color: var(--color-primary);
            font-weight: 500;
            font-size: 22px;

            & + tr td {
                border: none;
            }

            td {
                border: none;
            }
        }
    }
    
    th {
        padding: 24px 16px 12px;
        border-top-right-radius: var(--border-radius-large);
        border-top-left-radius: var(--border-radius-large);
        font-weight: 500;
        font-size: 28px;
        text-align: center;

        &:nth-of-type(3) {
            background-color: var(--color-background-elevation);
        }

        .table-header-title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-primary);
            user-select: none;

            svg {
                @include hover;

                display: none;
                cursor: pointer;
                transition: opacity .1s ease;

                path {
                    stroke: var(--color-secondary);
                }
            }

            span {
                flex: 1;
            }
        }

        .button {
            height: 36px;
            margin-top: 16px;
            padding: 0 12px;
            font-size: 16px;
        }
    }

    td {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 16px 24px;
        border-top: solid 2px var(--color-background-elevation);
        line-height: 1.2;

        &:first-of-type {
            text-align: left;
        }

        &:not(:first-of-type) {
            justify-content: center;
        }

        &:nth-of-type(3) {
            background-color: var(--color-background-elevation);

            &.checked:before {
                border-color: var(--yellow);
            }
        }

        &:nth-of-type(4).checked:before {
            border-color: var(--color-secondary);
        }

        &.checked {
            position: relative;

            &::before {
                width: 8px;
                height: 16px;
                margin: 0 0 6px;
                transform: rotate(45deg);
                border-right: solid var(--green) 2px;
                border-bottom: solid var(--green) 2px;
                border-radius: 0;
                background-color: transparent;
                content: "";
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        table {
            width: 512px;

            tbody {
                &.column-1 {
                    tr th,
                    tr td {
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            display: none;
                        }
                    }
                }
        
                &.column-2 {
                    tr th,
                    tr td {
                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            display: none;
                        }
                    }
                }
        
                &.column-3 {
                    tr th,
                    tr td {
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            display: none;
                        }
                    }
                }
            }

            tr {
                grid-template-columns: 1.5fr minmax(224px, 1fr);
                mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 2%, rgba(0,0,0, 1) 100%);
            }

            th,
            td {
                &:not(:first-of-type) {
                    background-color: var(--color-background-elevation);
                }
            }

            th .table-header-title svg {
                display: block;
            }
        }
    }
    
    @media only screen and (max-width: 512px) {
        table {
            tr {
                grid-template-columns: 1.5fr minmax(192px, 1fr);
                gap: 6px;
                font-size: 14px;
    
                &.title {
                    top: 164px;
                    font-size: 20px;
                }
            }

            th .table-header-title {
                font-size: 22px;
            }

            td {
                height: 48px;
            }
        }
    }
}