section.product {
    display: flex;
    gap: 128px;
    align-items: center;
    flex-direction: column;
    padding: 96px 0;

    h2 {
        max-width: 768px;
        margin-bottom: 64px;
    }

    .row {
        width: 100%;
        display: grid;
        gap: 64px;
        grid-template-columns: calc(67% - 64px) 33%;
        align-items: center;

        &:nth-of-type(even) {
            grid-template-columns: 33% calc(67% - 64px);
        }

        &:first-of-type {
            margin-top: 0;
        }

        &.fifty {
            grid-template-columns: 1fr 1fr;
        }

        h3 {
            margin-bottom: 16px;
        }

        p + .cta {
            margin-top: 32px;
        }

        p + svg {
            max-width: 384px;
            margin: 32px auto;
        }

        figure {
            min-height: 256px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 64px;
            background-color: var(--color-background-secondary);
            border-radius: 12px;

            img {
                width: 100%;
                max-width: 384px;
                display: block;
            }
        }

        .svg {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 48px;
            background-color: var(--color-background-secondary);
            border-radius: 12px;
        }

        svg {
            display: block;
            fill: var(--color-primary);
        }
    }

    .cta {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    
    @media only screen and (max-width: 1024px) {
        gap: 64px;
        padding: 64px 0 0;
    
        h2 {
            max-width: 768px;
            margin-bottom: 24px;
        }
        
        .row {
            display: flex;
            flex-direction: column;
            gap: 48px;
    
            &:nth-of-type(odd) {
                flex-direction: column-reverse;
            }

            li {
                width: 100%;
                max-width: 768px;
            }
    
            h3,
            p {
                max-width: 768px;
            }

            figure {
                min-height: 192px;
            }
        }
    }

    @media only screen and (max-width: 512px) {
        .row {
            .svg {
                padding: 24px;
            }
        }
        
        .cta {
            flex-direction: column;
        }
    }
}
