*, *:before, *:after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
}

html {
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote, dl, dd {
    margin: 0;
}

h1, h2, h3, h4, h5, button, input, label {
    line-height: 1.25;
}

h1, h2, h3, h4, h5 {
    text-wrap: balance;
    font-weight: 500;
}

ul[class], ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

fieldset, input, button, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
}

textarea:not([rows]) {
    min-height: 128px;
}

:target {
    scroll-margin-block: 5ex;
}

img {
    max-width: 100%;
}

img[width] {
    width: auto;
}

img[width][height] {
    height: auto;
}
  
img[src$=".svg"] {
    height: auto;
}