section.step {
    margin-bottom: var(--padding-extra-large);

    .nummeration {
        display: flex;
        align-items: center;
        height: 40px;
        border-radius: 20px;
        background-color: var(--color-background-elevation);

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: var(--color-background-elevation);
        }

        .text {
            padding: 0 24px 0 16px;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    .section-content {
        & > h1 {
            text-align: center;
        }
    
        & > p {
            max-width: 768px;
            text-align: center;
        }
    }
}