section.utm {
    display: flex;
    align-items: center;
    flex-direction: column;

    .builder {
        width: 512px;
        max-width: 100%;
        padding: 32px;
        background-color: var(--color-background-secondary);
        border-radius: 12px;

        h2 {
            margin-bottom: 16px;
        }

        .result {
            display: block;
            margin-bottom: 24px;
            font-size: 22px;
            line-height: 1.4;
            word-break: break-all;
        }

        .confirmation {
            display: none;
            margin-top: 12px;
            color: var(--color-green);
        }

        button {
            width: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & + h2 {
            margin-top: 24px;
        }

        fieldset input:not([type="checkbox"]):not([type="radio"]) {
            background-color: var(--color-background-elevation) !important;
        }
    }

    @media only screen and (max-width: 1024px) {
        padding: 64px 0 0;
    }

    @media only screen and (max-width: 512px) {
        .builder {
            padding: 16px;
        }
    }
}