@import "font";
@import "mixins";
@import "reset";

:root {
    --black: #000;
    --white: #fff;
    --beige: #f8f5ed;
    --green: #6ece9d;
    --yellow: #ffda6e;
    --orange: #f7a66b;
    --red: #e87b7b;

    --color-primary: var(--white);
    --color-secondary: #adadad;
    --color-background-primary: #0a0a0a;
    --color-background-primary-glass: rgba(10,10,10,.4);
    --color-background-secondary: #141414;
    --color-background-elevation: rgba(255,255,255,.04);
    --color-gradient-bottom: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);

    --padding-extra-large: 256px;
    --padding-large: 128px;
    --padding-medium: 64px;
    --padding-small: 32px;
    --padding-extra-small: 16px;

    --border-radius-large: 24px;
    --border-radius-medium: 12px;
    --border-radius-small: 6px;

    --header-height: 88px;

    --backdrop-filter-glass: blur(24px);
}

html {
    font-feature-settings: "ss03" 1, "ss04" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    color-scheme: dark;
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
}

body {
    width: 100vw;
    margin-right: calc(-100vw + 100%);
    overflow-x: hidden;
}

section {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    padding-right: var(--padding-small);
    padding-left: var(--padding-small);

    .section-content {
        display: flex;
        position: relative;
        grid-column: 2;
        flex-direction: column;
        align-items: center;
        gap: var(--padding-small);
    }
}

h1, .h1 {
    font-size: 96px;
    letter-spacing: -2px;
}

h2, .h2 {
    font-size: 64px;
}

h3, .h3 {
    font-size: 28px;
}

p, .p {
    color: var(--color-secondary);
    font-size: 18px;
}

small {
    color: var(--color-secondary);
    font-size: 14px;
}

strong {
    font-weight: 500;
}

a {
    @include hover;

    font-weight: 500;
}

img {
    display: block;
    object-fit: contain;
}

@import "button";
@import "card";
@import "gradient";
@import "grid";
@import "header";
@import "hero";
@import "step";