@import "font";
@import "mixins";
@import "reset";

:root {
    --black: #000;
    --white: #fff;
    --beige: #f8f5ed;
    --green: #6ece9d;
    --yellow: #ffda6e;
    --orange: #f7a66b;
    --red: #e87b7b;

    --color-primary: var(--white);
    --color-secondary: #adadad;
    --color-background-primary: #0a0a0a;
    --color-background-primary-glass: rgba(10,10,10,.4);
    --color-background-secondary: #141414;
    --color-background-elevation: rgba(255,255,255,.04);
    --color-gradient-bottom: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);

    --padding-extra-large: 256px;
    --padding-large: 128px;
    --padding-medium: 64px;
    --padding-small: 32px;
    --padding-extra-small: 16px;

    --border-radius-large: 24px;
    --border-radius-medium: 12px;
    --border-radius-small: 6px;

    --mask: linear-gradient(to right, rgba(0,0,0, 0) 0, rgba(0,0,0, 1) 10%, rgba(0,0,0, 1) 90%, rgba(0,0,0, 0) 100%);

    --header-height: 88px;

    --backdrop-filter-glass: blur(24px);
}

html {
    font-feature-settings: "ss03" 1, "ss04" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    color-scheme: dark;
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
}

body {
    width: 100vw;
    margin-right: calc(-100vw + 100%);
    overflow-x: hidden;
}

section {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    padding-right: 16px;
    padding-left: 16px;

    .section-content {
        display: flex;
        position: relative;
        grid-column: 2;
        flex-direction: column;
        align-items: center;
        margin-right: -720px;
        margin-bottom: -720px;
        margin-left: -720px;
        padding: 0 720px 720px;
        overflow: hidden;
        gap: var(--padding-small);
    }
}

h1, .h1 {
    font-size: 96px;
    letter-spacing: -2px;
}

h2, .h2 {
    font-size: 64px;
}

h3, .h3 {
    font-size: 28px;
}

p, .p {
    color: var(--color-secondary);
    font-size: 18px;
}

small {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 14px;
}

strong {
    font-weight: 500;
}

a {
    @include hover;

    font-weight: 500;
}

img {
    display: block;
    object-fit: contain;
}

@media only screen and (max-width: 1024px) {
    :root {
        --padding-extra-large: 192px;
        --padding-large: 96px;
        --padding-medium: 48px;
        --padding-small: 24px;
        --padding-extra-small: 12px;
    }

    section {
        grid-template-columns: 1fr minmax(320px, 768px) 1fr;
    }

    h1, .h1 {
        font-size: 64px;
        letter-spacing: -1px;
    }

    h2, .h2 {
        font-size: 48px;
    }

    h3, .h3 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-height: 64px;
    }
}

@media only screen and (max-width: 512px) {
    :root {
        --border-radius-large: 12px;
        --border-radius-medium: 8px;
        --border-radius-small: 4px;
    }

    h1, .h1 {
        font-size: 40px;
        letter-spacing: 0;
    }

    h2, .h2 {
        font-size: 32px;
    }

    h3, .h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .show-mobile {
        display: none;
    }
}

@media only screen and (min-width: 513px) {
    body {
        *::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            -webkit-border-radius: 8px;
            width: 64px;
            height: 64px;
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            background-color: rgba(127,127, 127,.4);
        }
        
        *::-webkit-scrollbar-button {
            display: none;
            width: 0;
            height: 0;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

@import "button";
@import "card";
@import "cta";
@import "gradient";
@import "grid";
@import "header";
@import "hero";
@import "misc";
@import "step";