@import "font";
@import "reset";

:root {
    --black: #000;
    --white: #fff;
    --beige: #f8f5ed;
    --green: #6ece9d;
    --yellow: #ffda6e;
    --orange: #f7a66b;
    --red: #e87b7b;

    --color-primary: var(--white);
    --color-secondary: #adadad;
    --color-background-primary: #0a0a0a;
    --color-background-secondary: #141414;
    --color-background-elevation: rgba(255,255,255,.04);

    --padding-extra-large: 256px;
    --padding-large: 128px;
    --padding-medium: 64px;
    --padding-small: 32px;

    --border-radius-large: 24px;
    --border-radius-medium: 12px;
    --border-radius-small: 6px;
}

html {
    font-feature-settings: "ss03" 1, "ss04" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    font-family: "DM Sans", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    width: 100%;
    margin-right: calc(-100vw + 100%);
    overflow-x: hidden;

    & > * {
        grid-column: 2;
    }
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-small);
}

h1, .h1 {
    font-size: 96px;
    letter-spacing: -2px;
}

h2, .h2 {
    font-size: 64px;
}

h3, .h3 {
    font-size: 28px;
}

p, .p {
    color: var(--color-secondary);
    font-size: 18px
}

strong {
    font-weight: 500;
}

@import "animation";
@import "button";
@import "gradient";
@import "hero";