{{$headline := copy .Page .Content "headline"}}
{{$text := copy .Page .Content "text"}}
{{$ctaLink := copy .Page .Content "cta_link"}}
{{$ctaLabel := copy .Page .Content "cta_label"}}

<div class="card {{html (get .Content "class")}}">
    {{if or $headline $text $ctaLabel}}
        <div class="card-content">
            {{if $headline}}
                <h3>{{html $headline}}</h2>
            {{end}}
            {{if $text}}
                <p>{{html $text}}</p>
            {{end}}
            {{if $ctaLabel}}
                <a href="{{$ctaLink}}" class="button">{{html $ctaLabel}}</a>
            {{end}}
        </div>
    {{end}}
    {{.CMS.Render .Page (index .Content.Content "children")}}
</div>
