<section class="pricing">
    <div class="section-content">
        <div class="gradient-container" data-sal="slide-up" data-sal-duration="800" style="top: calc((var(--padding-extra-large) - var(--padding-medium) - var(--header-height)) * -1);">
            <div class="gradient white"></div>
        </div>
        <h1 class="h2" data-sal="slide-up">{{html (copy .Page .Content "headline")}}</h1>
        <p data-sal="slide-up" data-sal-delay="100">{{html (copy .Page .Content "text")}}</p>
        <div class="pricing-slider" data-sal="slide-up" data-sal-delay="200">
            <div class="pricing-slider-row">
                <div class="left">
                    <div class="pricing-slider-value">10,000</div>
                    <p>{{html (copy .Page .Content "monthly_page_views")}}</p>
                </div>
                <div class="right">
                    <button class="billing-switch" tabindex="-1">
                        <fieldset id="toggleBillingCycle">
                            <input type="radio" name="billing" value="monthly" id="monthly" tabindex="-1" checked="">
                            <label for="monthly">{{html (copy .Page .Content "monthly")}}</label>
                            <input type="radio" name="billing" value="annually" id="annually" tabindex="-1">
                            <label for="annually">{{html (copy .Page .Content "annually")}}</label>
                        </fieldset>
                    </button>
                </div>
            </div>
            <label class="form-slider">
                <input type="range" min="0" max="10" value="0">
            </label>
        </div>
        <div class="pricing-tiers grid one-one-one">
            <div class="pricing-tier card" data-sal="slide-up" data-sal-delay="300">
                <div class="pricing-tier-title">{{html (copy .Page .Content "standard")}}</div>
                <div class="pricing-tier-price">
                    <span class="pricing-tier-price-currency">$</span>
                    <span class="pricing-tier-price-amount">6</span>
                    <p class="pricing-tier-price-after month">/{{html (copy .Page .Content "month")}}</p>
                    <p class="pricing-tier-price-after year" style="display: none;">/{{html (copy .Page .Content "year")}}</p>
                </div>
                <div class="pricing-tier-savings">
                    <span>{{html (copy .Page .Content "you_save")}}</span>
                    <span class="pricing-tier-savings-amount"></span>
                    <span>{{html (copy .Page .Content "per_year")}}!</span>
                </div>
                <hr>
                <div class="pricing-tier-features">
                    <ul class="pricing-tier-features-list">
                        {{$standardFeatures := copy .Page .Content "standard_features"}}
                        {{range $standardFeatures}}
                            <li>
                                <span class="{{index . "class"}}">{{index . "label"}}</span>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <a href="/signup" class="button">{{html (copy .Page .Content "start_free_trial")}}</a>
            </div>
            <div class="pricing-tier card yellow" data-sal="slide-up" data-sal-delay="350">
                <div class="pricing-tier-title">
                    <span>{{html (copy .Page .Content "plus")}}</span>
                    <div class="pricing-tier-title-tag">{{html (copy .Page .Content "best_value")}}</div>
                </div>
                <div class="pricing-tier-price">
                    <span class="pricing-tier-price-currency">$</span>
                    <span class="pricing-tier-price-amount">12</span>
                    <p class="pricing-tier-price-after month">/{{html (copy .Page .Content "month")}}</p>
                    <p class="pricing-tier-price-after year" style="display: none;">/{{html (copy .Page .Content "year")}}</p>
                </div>
                <div class="pricing-tier-savings">
                    <span>{{html (copy .Page .Content "you_save")}}</span>
                    <span class="pricing-tier-savings-amount"></span>
                    <span>{{html (copy .Page .Content "per_year")}}!</span>
                </div>
                <hr>
                <div class="pricing-tier-features">
                    <ul class="pricing-tier-features-list">
                        {{$plusFeatures := copy .Page .Content "plus_features"}}
                        {{range $plusFeatures}}
                            <li>
                                <span class="{{index . "class"}}">{{index . "label"}}</span>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <a href="/signup" class="button yellow">{{html (copy .Page .Content "start_free_trial")}}</a>
            </div>
            <div class="pricing-tier card grey" data-sal="slide-up" data-sal-delay="400">
                <div class="pricing-tier-title">{{html (copy .Page .Content "enterprise")}}</div>
                <div class="pricing-tier-price">
                    <span class="pricing-tier-price-custom">{{html (copy .Page .Content "custom")}}</span>
                </div>
                <hr>
                <div class="pricing-tier-features">
                    <ul class="pricing-tier-features-list">
                        {{$enterpriseFeatures := copy .Page .Content "enterprise_features"}}
                        {{range $enterpriseFeatures}}
                            <li>
                                <span class="{{index . "class"}}">{{index . "label"}}</span>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <a href="mailto:support@pirsch.io" class="button grey">{{html (copy .Page .Content "request_quote")}}</a>
            </div>
        </div>
        <small data-sal="slide-up">{{html (copy .Page .Content "disclaimer")}}</small>
    </div>

    <script>
        function pricing() {
            const pricingSliders = document.querySelectorAll(".pricing-slider");
            const months = document.querySelectorAll(".month");
            const years = document.querySelectorAll(".year");

            if(pricingSliders && pricingSliders.length > 0) {
                for (let i = 0; i < pricingSliders.length; i++) {
                    const pricingSlider = pricingSliders[i];
                    const pricingInput = {el: pricingSlider.querySelector("input[type=range]")};

                    pricingInput.data = {
                        0: "10,000",
                        1: "100,000",
                        2: "200,000",
                        3: "500,000",
                        4: "1 Million",
                        5: "5 Million",
                        6: "10 Million",
                        7: "20 Million",
                        8: "50 Million",
                        9: "100 Million",
                        10: "100 Million +"
                    };
                    pricingInput.currentValEl = pricingSlider.querySelector(".pricing-slider-value");
                    pricingInput.thumbSize = parseInt(window.getComputedStyle(pricingInput.currentValEl).getPropertyValue("--thumb-size"), 10);

                    const pricingOutputEls = document.querySelectorAll(".pricing-tier-price");
                    const pricingOutput = [];

                    for (let i = 0; i < pricingOutputEls.length; i++) {
                        const pricingOutputEl = pricingOutputEls[i];
                        const pricingOutputObj = {};
                        pricingOutputObj.currency = pricingOutputEl.querySelector(".pricing-tier-price-currency");
                        pricingOutputObj.amount = pricingOutputEl.querySelector(".pricing-tier-price-amount");
                        pricingOutputObj.savings = pricingOutputEl.parentNode.querySelector(".pricing-tier-savings-amount");
                        pricingOutputObj.data = {
                            0: ["$", 6, 12, 60, 120],
                            1: ["$", 12, 27, 120, 270],
                            2: ["$", 18, 45, 180, 450],
                            3: ["$", 36, 99, 360, 990],
                            4: ["$", 54, 159, 540, 1590],
                            5: ["$", 99, 299, 990, 2990],
                            6: ["$", 159, 479, 1590, 4790],
                            7: ["$", 249, 749, 2490, 7490],
                            8: ["$", 499, 1499, 4990, 14990],
                            9: ["$", 799, 2399, 7990, 23990],
                            10: ["Custom", "", "", "", ""]
                        };
                        pricingOutput.push(pricingOutputObj);
                    }

                    pricingInput.el.setAttribute("min", 0);
                    pricingInput.el.setAttribute("max", Object.keys(pricingInput.data).length - 1);
                    !pricingInput.el.getAttribute("value") && pricingInput.el.setAttribute("value", 0);

                    handlePricingSlider(pricingInput, pricingOutput);
                    window.addEventListener("input", function() {
                        handlePricingSlider(pricingInput, pricingOutput);
                    });
                }
            }

            function handlePricingSlider(input, output) {
                if (input.currentValEl)
                    input.currentValEl.innerHTML = input.data[input.el.value];
                
                const billingCycle = document.getElementById("monthly").checked;
                
                for (let i = 0; i < output.length; i++) {
                    const outputObj = output[i];

                    if (outputObj.currency)
                        outputObj.currency.innerHTML = outputObj.data[input.el.value][0];
                    if (outputObj.amount)
                        outputObj.amount.innerHTML = outputObj.data[input.el.value][billingCycle ? 1 + i : 3 + i].toLocaleString("en-US");
                    if (outputObj.savings) {
                        outputObj.savings.innerHTML = outputObj.data[input.el.value][0]
                        outputObj.savings.innerHTML += (12 * outputObj.data[input.el.value][1 + i] - outputObj.data[input.el.value][3 + i]).toLocaleString("en-US");
                        outputObj.savings.parentNode.style.display = billingCycle || input.el.value == 10 ? "none" : "block";
                    }
                }
                
                for (let i = 0; i < months.length; i++) {
                    if (billingCycle) {
                        months[i].style.display = "block";
                        years[i].style.display = "none";
                    } else {
                        months[i].style.display = "none";
                        years[i].style.display = "block";
                    }

                    if (input.el.value == 10) {
                        months[i].style.display = "none";
                        years[i].style.display = "none";
                    }
                }
            }
        }

        window.addEventListener("DOMContentLoaded", pricing);
    </script>
</section>